*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
}
p{
    font-size: 18px;
    color: #3C354F;
    font-weight: 400;
    line-height: 2rem;
}
a:active{
    color: #F442A6;
}
a{
    color: #3C354F;
}
.primary-btn{
    padding: 20px 40px;
    background-color: #F442A6;
    border-radius: 50px;
    border: none;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}
.secondary-btn{
    padding: 20px 40px;
    background-color: #4EC5F7;
    border-radius: 50px;
    border: none;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    margin-left: 20px;
}
nav{
    box-shadow: 0 1px 19px 0 rgba(0, 0, 0, 0.05);
}
.container{
    width: 1442px;
    margin: 0 auto;
}
.nav-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}
.nav-menu ul{
    display: flex;
    list-style: none;
    padding: 15px;
    align-items: center;
}
.nav-menu ul li{
    padding: 0 15px;
}
.nav-menu ul li a{
    text-decoration: none;
}
.social-icon{
    background-color: rgba(11, 2, 35, 0.10);
    border-radius: 50px;
}
.social-icon li a i{
    color: red;
    font-size: 25px;
}

/* ************************** Banner Section ************************** */

.banner{
    background-image: url('images/Group\ 14.png');
    background-position: left;
    background-repeat: no-repeat;

}
.banner-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-button{
    padding: 50px 0;
}
.banner-row .column-1 h3{
    font-size: 3rem;
    text-transform: uppercase;
    line-height: normal;
    font-weight: 600;
}
.banner-row .column-1 h1{
    font-size: 6rem;
    text-transform: uppercase;
    line-height: normal;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-row .column-1 p img{
    margin-right: 15px;
    width: 18px;
    height: 18px;
}
.banner-row .column-1 p{
    padding: 8px 0;
}


/* ************************** END Banner section ************************** */

.gamer-section{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 80px 0;
}
.gamer-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gamer-row .column-2{
    text-align: right;
}
.gamer-row .column-2 a{
    margin: 20px 0;
    display: inline-block;
}
.gamer-row .column-2 h2{
    font-size: 2.5rem;
    line-height: 6rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gamer-row .column-2 p{
    font-weight: 400;
    line-height: 2rem;
}


/* ************************** END GAMER SECTION ***************************** */

.online-games{
    padding: 100px 0;
}
.title-section{
    text-align: center;
    margin: 0 auto;
}
.title-section h2 span{
    font-size: 3.5rem;
    line-height: 6rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title-section h2{
    font-size: 3.5rem;
    line-height: 6rem;
    font-weight: 800;
}
.online-game-row{
    display: flex;
    justify-content: space-between;
    gap: 0px;
    padding-top: 50px;
}
.online-game-row div p{
    padding-top: 15px;
}
.online-game-row div{
    width: 24%;
}
.online-game-row .column{
    position: relative;
}
.online-game-row .column .hover-icon{
    position: absolute;
    text-align: center;
    display: none;
    transition: all 0.3s ease 0s;
    background-color: rgba(0, 0, 0, 0.6) !important;
    width: 100%;
    height: 83%;
    top: 0;
    border-radius: 15px;
    align-items: center;
    padding-top: 49%;
}
.online-game-row .column:hover .hover-icon{
   display: block;
}
.online-game-row .column:hover .hover-icon a{
   text-decoration: none;
}
.online-game-row .column img:hover{
   background-color: #000000bb;
   border-radius: 15px;
   z-index: 1;
}

.online-game-row .column .hover-icon i{
    font-size: 3rem;
    color: #fff;
}
.online-game-row .column .hover-icon h4{
    font-size: 1.5rem;
    color: #F442A6;
    text-align: center;
    padding-top: 15px;
}





/* **************************************** */

.play-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.play-row .column-2{
    position: relative;
}
.play-row .column-2 .img-2{
    position: absolute;
    bottom: 0;
    margin-left: -100px;
    margin-bottom: -100px;
}
.play-row .column-1{
    text-align: right;
    padding: 200px;
}
.play-row .column-1 h2{
    font-size: 3rem;
    margin-bottom: 15px;
}
.play-row .column-1 h2 span{
    font-size: 3rem;
    color: #F442A6;
}


/* ****************************************************************** */
.play-section-2{
    padding: 200px 0;
}
.play-row-2{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.play-row-2 .column-2{
    position: relative;
}
.play-row-2 .column-2 .img-2{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: -100px;
    margin-right: -100px;
}
.play-row-2 .column-1{
    padding: 0 0 0 200px;
}
.play-row-2 .column-1 h2{
    font-size: 3rem;
    margin-bottom: 15px;
}
.play-row-2 .column-1 h2 span{
    font-size: 4rem;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}



/* ****************************************** */
.career-section-2{
    background-image: 
    url('images/Group\ 65.png');
    background-position: right;
    background-repeat: no-repeat;
    padding: 100px 0;
}
.career-section{
    background-color: #F442A6;
}
.career-row{
    display: flex;
    width: 50%;
}
.career-row .column-1 .primary-btn{
    display: inline-block;
    background-color: #fff;
    color: #F442A6;
    margin-top: 20px;
}
.career-row .column-1 h2{
    color: #fff;
}
.career-row .column-1 p{
    color: #fff;
}
.career-row .column-1 h2{
    padding-bottom: 15px;
    font-size: 2.5rem;
}

.text-list{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.text-list .right-text{
    text-align: right;
}
.text-list p{
    font-weight: 600;
    color: #fff;
}









/* ******************************************* */

.button-hover-section{
    background-image: url('images/Rectangle\ 10.png');
    background-position: center;
    background-repeat: repeat;
    padding: 100px 0;
    background-color: #FEF9FC;
}
.hover-section-row{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
.hover-section-row .button a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    text-decoration: none;
}
.hover-section-row .button a p{
    font-weight: 600;
}
.hover-section-row .button{
    background-color: #fff;
    border-radius: 50px;
    padding: 10px 20px;
    border: 1px solid #fff;
}
.hover-section-row .button:hover{
    border: 1px solid #F442A6;

}
.hover-section-row .button:hover a p{
    color: #F442A6;

}
/* ***********************************************************************  */



footer{
    padding: 100px 0;
    background-color: #0B0223;;
}
.primary-color{
    color: #F442A6;
}
.footer-logo{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.footer-logo h2{
    color: #fff;
    font-size: 3rem;
}
.footer-top-menu ul{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 35px 0;
}
.footer-top-menu ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}
.footer-icon ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 30px 0;
}
.footer-icon ul li a i{
    font-size: 2rem;
    color: #fff;
}

.footer-bottom-menu ul{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 25px 0;
}
.footer-bottom-menu ul li a{
    text-decoration: none;
    color: grey;
    font-weight: 300;
}
.footer-copyright-text p{
    color: grey;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
}



/* ************************ Responsive for mobile ******************************* */

@media only screen and (max-width: 600px) {
    
    .nav-area{
        flex-direction: column;
    }
    .banner-row{
        flex-direction: column-reverse;
    }
    .gamer-row{
        flex-direction: column-reverse;
    }
    .gamer-row .column-2{
        width: 600px;
        text-align: center;
    }
    .online-game-row{
        flex-direction: column;
        justify-content: center;
    }
    .play-row-2 .column-1{
        padding: 200px 0 0 0;
    }
    .play-row{
        flex-direction: column;
    }
    .play-row-2{
        flex-direction: column;
    }
    .career-section-2{
        background: none;
    }
    .hover-section-row{
        flex-direction: column;
        justify-content: center;
    }

  }